@use 'variables' as *;
@use 'mixins' as *;

// resets 
* , *::after , *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background: $very-dark-blue url('../images/bg-desktop.png') no-repeat right bottom;
    background-size: 100% 50%;
    color : $pale-blue;
    display: grid;
    place-items : center;
    @include mobile{
        background-color: transparent;
        background-image: url('../images/bg-mobile.png');
        background-size: cover;
        background-position: center;
        padding: 0 1.5rem;
        font-size: 14px;
    }
}
main{
    @include mobile{
        width: 100%;
    }
}

.data-storage{
    display: flex;
    gap: 1.875rem;
    @include mobile{
        flex-direction: column;
        > *{
            width: 100% !important;
        }
    }
    .icons{
        background-color: $dark-blue ;
        padding : 2.2rem;
        padding-right : 8.3rem;
        border-radius: .8rem 6rem .8rem .8rem;
        @include mobile{
            padding-right: 2.2rem;
        }
        .flyo-logo{
            width: 8.5rem;
            margin-bottom: 2rem;
            img{
                width: 100%;
            }
        }
        .icon-list{

            .icon-item:not(:last-child){
                margin-right : 1rem;
            }
            .icon-item{
                display: inline-flex;
                justify-content: center;
                align-items: center;
                padding: .5rem;
                background-color: $very-dark-blue;
                width: 3rem;
                aspect-ratio: 1;
                border-radius : 15px;
            }
        }

    }
    .storage{
        background-color: $dark-blue;
        border-radius : .8rem;
        padding : 3rem 2.2rem;
        position: relative;
        width: 33.75rem;
        .space-used{
            margin-bottom : 1.125rem;
            .space-used__text .number{
                font-weight: bold;
            }
        }
        .indicator{
            background-color: $very-dark-blue;
            height: $indicator-height;
            border-radius : 2rem;
            position: relative;
            overflow: hidden;
            .indicator-fill{
                width: 75%;
                background-image: linear-gradient(to right , $gradient-start , $gradient-end);
                height: 100%;
                border : 2px solid $very-dark-blue;
                border-radius : 2rem;
                min-width : $indicator-height;
                position: relative;
                &::after{
                    content : '';
                    position: absolute;
                    aspect-ratio: 1;
                    height: 60%;
                    top: 20%;
                    right: .15rem;
                    background-color: white;
                    border-radius : 50%;
                }
            }
        }
        .limits{
            display: flex;
            justify-content: space-between;
            padding-top: 1rem;
        }
        .space-left{
            position: absolute;
            top: 0;
            right: 2.2rem;
            background-color: white ;
            padding: 1rem 1.5rem; 
            transform : translateY(-50%);
            border-radius: 1rem 1rem 0 1rem;
            .space-left__text{
                color : $grayish-blue;
                font-size: .75rem;
                display: flex;
                align-items: center;
                font-weight: bold;
                
               
                .number{
                    color : $dark-blue ;
                    font-weight: bold;
                    font-size: 2rem;
                }

            }
            &::after{
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top : 98%;
                right: 0;
                width: 0px;
                height: 0px;
                border-bottom: 27px solid transparent;
                border-right: 19px solid white;


            }
            @include mobile{
                border-radius: 1rem !important;
                left: 50%;
                top: 100%;
                right: unset;
                transform: translate(-50% , -50%);
                &::after{
                    border: none;
                    
                }
            }
        }
        
    }
}

